{% load socialaccount %}
{% providers_media_js %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De-Quiz</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="back">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>




    <div class="navv">
        <button id='togg_menu'>
            <span class='bar'></span>
            <span class='bar'></span>
            <span class='bar'></span>
        </button>

        <img src="{% static 'css/dslogowhitepng.png' %}" alt="logo" height="50px" width="auto"
            style="float:right; margin-right: 10px;">
        <header>
            <ul class='megaMenu'>

                <li>
                    <a href="{% url 'login' %}">Game</a>

                </li>
                <li>
                    <a href='#'>Leaderboard</a>

                </li>
                <li><a href='/accounts/logout/'>Logout</a></li>


            </ul>
        </header>

    </div>

    <div class="head">
        <p>LEADERBOARD</p>
    </div>


    {% for obj in users %}
    {% if obj.name == name %}
    <div class="lbbox" style="background-color:rgba(82, 186, 235, 0.4); border-left: 4px solid rgb(0, 162, 255);">
        <p> {{ obj.rank  }}. {{ obj.name }} <span
                style="color:rgb(188, 213, 252); float:right;">{{obj.pointsfactor}}</span> </p>
    </div>
    {% elif obj.rank < 6 %}
    <div class="lbbox" style="border-left: 4px solid green;">
        <p> {{ obj.rank  }}. {{ obj.name }} <span
                style="color:rgb(188, 213, 252); float:right;">{{obj.pointsfactor}}</span> </p>
    </div>
    {% else %}

    <div class="lbbox">
        <p> {{ obj.rank  }}. {{ obj.name }} <span
                style="color:rgb(188, 213, 252); float:right;">{{obj.pointsfactor}}</span> </p>
    </div>
    {% endif %}
    {% endfor %}


</body>

</html>