<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wembo</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="back">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>




    <div class="navv">
        <button id='togg_menu'>
            <span class='bar'></span>
            <span class='bar'></span>
            <span class='bar'></span>
        </button>

        <img src="dslogowhitepng.png" alt="logo" height="50px" width="auto" style="float:right; margin-right: 10px;">
        <header>
            <ul class='megaMenu'>

                <li>
                    <a href='questions.html'>Game</a>

                </li>
                <li>
                    <a href='#'>Leaderboard</a>

                </li>


            </ul>
        </header>

    </div>

    <div class="head">
        <p>LEADERBOARD</p>
    </div>

    <div class="lbbox">
        <p>1. xyz </p>
    </div>

</body>

</html>